@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap&subset=latin-ext');
 @import url('https://fonts.googleapis.com/css?family=Poppins:300&display=swap&subset=latin-ext');
 @import url('https://fonts.googleapis.com/css?family=Alex+Brush&display=swap&subset=latin-ext');
 * {
	 box-sizing: border-box;
}
 *:focus {
	 box-shadow: none;
}
 body, html {
	 color: #444;
	 font-size: 16px;
	 line-height: 1.7;
	 margin: 0;
	 height: 100%;
	 font-family: 'Poppins', sans-serif;
	 background-color: #fffdf8;
}
 a, a:hover {
	 text-decoration: none;
	 color: #585859;
}
 img {
	 max-width: 100%;
	 height: auto;
}
 section {
	 padding: 60px 0;
}
 .container {
	 max-width: 980px;
	 margin: 0 auto;
	 padding: 0 20px;
}
 .splash {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 padding: 0 24px;
	 background-image: url('https://scontent-hkg3-1.xx.fbcdn.net/v/t1.15752-9/90604044_493792511499416_3831031809223688192_n.png?_nc_cat=101&_nc_sid=b96e70&_nc_ohc=5zrCADtcHMQAX8ZKpAw&_nc_ht=scontent-hkg3-1.xx&oh=a30f4810e5dcb18bd60b1161f623fd07&oe=5E9B8658');
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center center;
	 height: 900px;
}
 .page-intro {
	 margin: auto;
	 text-align: center;
}
 .main-title {
	 margin: 0;
	 font-weight: bold;
	 color: #013142;
	 font-size: 94px;
	 font-family: 'Abril Fatface', cursive;
}
 .main-subtitle {
	 margin: 0 0 150px 0;
	 font-weight: 300;
	 color: #013142;
	 font-size: 16px;
	 font-family: 'Abril Fatface', cursive;
	 font-variant: small-caps;
	 letter-spacing: 4px;
}
 .btn {
	 padding: 18px 24px 18px 24px;
	 font-size: 14px;
	 background-color: #002b3b;
	 color: #fff7d6;
	 border-radius: 20px 5%;
	 box-shadow: 2px 4px 8px 4px black;
	 transition: all 0.5s;
}
 .btn:hover {
	 background-color: #002431;
	 color: #fff7d6;
	 box-shadow: 2px 4px 10px 4px #c1c1c1;
}
 .section-title {
	 position: relative;
	 margin: 0 0 60px 0;
	 text-align: center;
	 color: #013142;
	 font-family: 'Poppins', sans-serif;
	 font-size: 24px;
	 font-weight: 800;
	 text-transform: uppercase;
}
 .section-title:after {
	 position: absolute;
	 display: block;
	 content: '';
	 width: 80px;
	 height: 3px;
	 background: #585859;
	 left: 50%;
	 bottom: -12px;
	 margin-left: -40px;
}
 .about {
	 background-color: #f0f3f3;
}
 .section-intro {
	 margin: 36px 0 0 0;
	 color: #5e5e5e;
}
 .features-wrapper {
	 display: flex;
}
 .feature {
	 flex: 0 0 33.333333%;
	 max-width: 33.333333%;
	 text-align: center;
	 margin: 10px 0 0 0;
}
 .feature i {
	 width: 80px;
	 height: 80px;
	 line-height: 80px;
	 color: #013142;
	 font-size: 45px;
	 transition: all 0.5s;
}
 .feature i:hover {
	 color: #d4dcdc;
	 transform: translate(20px, 10px);
	 transition: all 0.5s;
}
 .feature-title {
	 margin: 24px 0 0 0;
	 font-size: 18px;
	 font-weight: bold;
}
 .feature-description {
	 margin: 24px 0 0 0;
	 padding: 0 24px;
}
 .statement {
	 background-image: url('https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-0/p640x640/39454199_935750519958643_4817808349435265024_o.jpg?_nc_cat=109&_nc_sid=0be424&_nc_ohc=1jlvvwZACh8AX_a2eRK&_nc_ht=scontent-sin6-2.xx&_nc_tp=6&oh=d0a30894f3ad9eb00935b711d12dbb32&oe=5E9CB85D');
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center center;
	 background-attachment: fixed;
}
 .statement p {
	 margin: 0;
	 font-family: 'Alex Brush', cursive;
	 color: #013142;
	 font-size: 25px;
	 text-align: center;
}
 .quotes {
	 background-color: #fffdf8;
}
 .quotes-wrapper {
	 margin: 72px 50px 0 0;
}
 .quote blockquote {
	 padding: 0 36px;
}
 .quote footer {
	 margin: 24px 0 0 30px;
	 font-family: 'Alex Brush', cursive;
	 letter-spacing: 2px;
}
 .quote {
	 width: 100%;
	 padding: 0 72px;
}
 .section.gallery {
	 padding: 60px 0 0 0;
}
 .gallery-wrapper {
	 display: flex;
	 flex-wrap: wrap;
	 margin: 72px 0 0 0;
}
 .gallery-item {
	 position: relative;
	 margin: 0;
	 flex: 0 0 25%;
	 max-width: 25%;
	 text-align: center;
}
 .gallery-item img {
	 display: block;
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
}
 .gallery-item:before {
	 position: absolute;
	 display: none;
	 content: '';
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 background-color: #000;
	 opacity: 0.5;
}
 .gallery-item figcaption {
	 position: absolute;
	 display: none;
	 width: 100%;
	 top: 50%;
	 transform: translateY(-50%);
	 color: #fff;
}
 .gallery-item:hover:before, .gallery-item:hover figcaption {
	 display: block;
}
 .contact {
	 text-align: center;
}
 .social-links {
	 list-style-type: none;
	 padding: 0;
}
 .social-links li {
	 display: inline-block;
	 border: 1px solid #585859;
	 width: 60px;
	 height: 60px;
	 line-height: 60px;
	 font-size: 30px;
	 border-radius: 50%;
	 margin: 0 20px 0 25px;
	 transition: all 0.5s;
}
 .social-links li a {
	 display: block;
	 width: 100%;
	 height: 100%;
	 transition: all 0.5s;
}
 .social-links li:hover {
	 background: #585859;
}
 .social-links li a {
	 display: block;
	 width: 100%;
	 height: 100%;
}
 .social-links li a:hover {
	 color: #fff;
}
 .page-footer {
	 background-color: #013142;
	 padding: 4px 0;
	 font-size: 16px;
}
 .page-footer .container {
	 display: flex;
	 justify-content: space-between;
}
 .page-footer p {
	 margin: 0;
	 color: #fff;
}
 .navigation {
	 background-color: #013142;
	 padding: 6px 0;
	 text-align: center;
	 position: fixed;
	 width: 100%;
	 z-index: 9999;
}
 .navigation ul {
	 margin: 0;
	 padding: 0;
}
 .navigation ul li {
	 display: inline-block;
	 margin-right: 45px;
}
 .navigation ul li a {
	 font-size: 13px;
	 color: #fffdf8;
}
 .navigation ul li a:hover {
	 color: #585859;
}
 @media (max-width: 767px) {
	 .main-title {
		 font-size: 72px;
	}
	 .main-subtitle {
		 font-size: 14px;
	}
	 .section-title {
		 font-size: 24px;
	}
	 .features-wrapper {
		 display: block;
	}
	 .feature {
		 flex: 0 0 100%;
		 max-width: 100%;
	}
	 .gallery-item {
		 flex: 0 0 50%;
		 max-width: 50%;
	}
	 .quotes-wrapper {
		 display: block;
	}
	 .quote blockquote {
		 flex: 0 0 100%;
		 max-width: 100%;
	}
	 .quote {
		 flex: 0 0 100%;
		 max-width: 100%;
	}
}
 @media (mix-width: 768px) and (max-width: 991px) {
	 .main-title {
		 font-size: 80px;
	}
	 .main-subtitle {
		 font-size: 16px;
	}
	 .section-title {
		 font-size: 24px;
	}
	 .features-wrapper {
		 display: block;
	}
	 .feature {
		 flex: 0 0 100%;
		 max-width: 100%;
	}
	 .gallery-item {
		 flex: 0 0 50%;
		 max-width: 50%;
	}
	 .quotes-wrapper {
		 display: block;
	}
	 .quote blockquote {
		 flex: 0 0 100%;
		 max-width: 100%;
	}
	 .quote {
		 flex: 0 0 100%;
		 max-width: 100%;
	}
}
 