.content {
    position: relative;
    z-index: 3;
  }
  #no{
    position: absolute;
    display: inline-block;
    left: 35%; 
    top: 40vh;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes{
    position: absolute;
    display: inline-block;
    left: 70%; 
    top: 40vh;
    -webkit-transition: all 0.3s ease-out;
  }
#bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  /* height: 100vh; */
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url(../img/puung3.jpg);
  background-size: cover;
  background-position: 50%;
 -webkit-filter: blur(3px); 
}
.swal2-title, .swal2-content{
  color: azure !important;
}
.swal2-popup {
  border-radius: 15px !important;
}

header h2 {
  font-family: 'Pacifico';
  font-size: 80px;
  text-align: center;
  margin-bottom: 30px;
}
header h4 {
  font-family: 'Pacifico';
  text-align: center;
}

@media only screen and (max-width: 500px) {
  header h2 {
    font-family: 'Pacifico';
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
  }
  header h4 {
    font-family: 'Pacifico';
    text-align: center;
    padding: 15px;
  }
  #no{
    position: absolute;
    display: inline-block;
    left: 7%; 
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes{
    position: absolute;
    display: inline-block;
    left: 58%; 
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.3s ease-out;
  }
}
.swal2-styled.swal2-confirm{
    background-color: #22B3E5 !important;
    border-radius: .30em;
}
.ABC{
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}
progress{
  width: calc(100vw*7.88 / 12);
  height: 5px;
  position:fixed;
  z-index: 1; 
  /* background-color: rgb(231, 17, 135); */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; */
  /* border: none; */
  background: crimson;
}
progress {
  color: rgb(36, 149, 187);
}
progress[value]::-webkit-progress-bar {
  /* background-image:
  -webkit-linear-gradient(-45deg, 
                          transparent 33%, rgba(0, 0, 0, .1) 33%, 
                          rgba(0,0, 0, .1) 66%, transparent 66%),
  -webkit-linear-gradient(top, 
                          rgba(255, 255, 255, .25), 
                          rgba(0, 0, 0, .25)),
  -webkit-linear-gradient(left, #09c, #f44); */
  /* position: absolute; */
 /* border-radius: 2px; 
 background-size: 35px 20px, 100% 100%, 100% 100%; */

}
progress::-webkit-progress-value {
  background: rgb(53, 166, 204);
  border: 1px solid rgb(230, 224, 224); 
}

progress::-moz-progress-bar {
  background: rgb(236, 130, 188);
  
}
.wrapper {
  width: 100%;
}
.pdf-content {
  font-family: "Times New Roman";
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.nemo {
  margin-bottom: 30px;
}
.nav{
  height:100px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: block;
}
.header .navbar-nav {
  margin-left: 48px;
}
.navbar-nav {
  float: left;
}
.navbar-nav {
  margin: 0px 0px;
}
.right {
  text-align: right;
}
.bottom {
  vertical-align: bottom;
}
